body {
    margin: 0;
    padding: 0;
  /* overflow: hidden; */
  scrollbar-width: none;
    /* height: 100vh;  */
    /* font-family: Arial, sans-serif;  */
    position: fixed;
  
  }
  
  .navbar {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    z-index: 10; 
    background-color: rgba(0, 0, 0 /0%); 
    color: white; 
    
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
  }
  .logo a {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
  }
  .nav-links {
    list-style: none;
    display: flex;
    margin: 8px 30px;
    padding: 0;
    
  }
  .nav-links li {
    margin: 0 10px;
    font-size: 20px;
  }
  .nav-links a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    position: relative;
    transition: color 0.3s ease;
  }
  .nav-links a:hover {
    color: #ffd700; 
  }
  .nav-links a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #ffd700; 
    transition: width 0.3s ease;
    position: absolute;
    left: 50%;
    bottom: -5px; 
    transform: translateX(-50%);
  }
  .nav-links a:hover::after {
    width: 100%; 
  }
  
  .slide{
    width: 100%;
    height: 100vh;
    background : #222;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    position: relative
  
  }
  .swiper {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    z-index: 1; 
  }
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
    background: #000; 
    background-size: cover; 
    background-position: center;
    height: 500vh;
  }
  
  
  .swiper-slide img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
  
  }
  .swiper .swiper-button-prev, .swiper-button-next{
    color: white;
  }
  .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    color: white;
    content: 'next';
  }
  .swiper-pagination{
    color: white;
  }
  .swiper-slide h1{
    text-align: center;
    background-color: rgba(0, 0, 0 /0%);
  }
  
  .logo1 {
    height: 76px;
    width: 177px;
    
  }
  .text {
    font-size: 55px;
    color: white;
    text-align: center;
    margin-top: 20vw;
    font-family: "Fira Sans", sans-serif;
  }
  .mainpart {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5vw;
    flex-wrap: wrap; 
  }
  .Blog_cards, .Travelblog, .lifeblog {
    height: 360px;
    width: 30vw;
    border-radius: 20px;
    background-size: cover;
    margin: 10px; 
  }
  .Blog_cards {
    background-image: url("blog-8.jpg");
  }
  .Travelblog {
    background-image: url("blog-2.jpg");
  }
  .lifeblog {
    background-image: url("blog-8.jpg");
  }
  .insidecard1 {
    color: white;
    text-align: center;
    margin-top: 20vh;
    padding: 30px;
  }
  .cardblog {
    color: green;
    margin-bottom: 15%;
    margin-left: 9%;
    font-size: 20px;
  }
  .email {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 183px;
    width: 95%;
    margin: 130px auto; 
    border-radius: 10px;
    /* background-color: rgba(161, 238, 189, 0.5); */
  
  
    
    font-size: 20px;
    font-family: "Fira Sans", sans-serif;
    color: black;
    background-image: linear-gradient(180deg, #91AC8F, #B2C9AD);
  }
  .email .email1 {
    margin-right: inherit;
     padding: 6vw; 
    
  }
  @media (max-width: 1200px) {
    .head div {
      font-size: 20px; 
    }
  
    .text {
      font-size: 45px; 
    }
  
    .Blog_cards,
    .Travelblog,
    .lifeblog {
      width: 802px; 
    }
  }
  
  @media (max-width: 992px) {
    .head {
      flex-direction: column;
      align-items: center; 
    }
  
    .mainpart {
      flex-direction: column; 
      align-items: center;
    }
  
    .CofeeBlog,
    .Travelblog,
    .lifeblog {
      width: 90%; 
    }
  
    .text {
      margin-top: 10vw; 
    }
  }
  
  @media (max-width: 768px) {
    .head div {
      font-size: 18px; 
    }
  
    .text {
      font-size: 35px; 
    }
  
    .email {
      margin: 50px auto; 
      height: auto; 
    }
  }
  
  @media (max-width: 576px) {
    .head div {
      font-size: 16px; 
    }
  
    .text {
      font-size: 30px; 
    }
  
    .insidecard1 {
      margin-top: 10vh; 
    }
  }
  /* .suscribeButton {
    display: flex;
    height: 4vh;
    flex-wrap: wrap;
    flex-direction: row-reverse;
  } */
   #txt {
    
    height: 5vh;
    width: 40vh;
    color: none;
    background-color: #B2C9AD;
    font-size: 18px;
    
    
   }
  .suscribeButton{
    margin:auto;
   
  }
  .suscribeButton button{
   width: 11vw;
    height: 5vh;
    background-color: rgb(74,87,51);
  }
  .btn1-success {
    height: 4vh;
    width: 15vh;
  }
  .suscribeButton {
    align-items: flex-end;
  }
  .latest_article_content {
    text-align: left;
  }
  .articlecard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .card1 {
    display: flex; /* Add this line */
    /* justify-content: center;  */
    flex-direction: column;
    height: 459px;
    border: 0.3px solid gray;
    width: 400px;
    margin: 10px;
    overflow: hidden;
  }
  #photo1 {
    width: 100%;
    height: 267px;
    transition: transform 0.5s ease;
  }
  #photo1:hover {
    transition: transform 0.5s ease;
    transform: scale(1.1);
  }
  .Card1content {
    display: block;
    padding: 20px;
    font-weight: 700;
    font-size: 24px;
    margin-top: 0px;
    font-family: "DM Sans", sans-serif;
    text-decoration: none;
    color: black;
  }
  
  .btn1 button {
    background-color: #536942;
    display: inline-block;
    height: 35px;
    text-align: center;
    width: 95px;
    border-radius: 10px;
    border: none;
  }
  .btn1 button a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
  }
  .card1 button:hover {
    background-color: rgb(144, 200, 8);
  }
  .Card1_lowercontent {
    padding: 2px 14px;
    font-size: 14px;
  }
  .card1 button {
    margin: 10px 15px;
  }
  .Card1content:hover {
    color: #536942;
  }
  .foot {
    background-color: rgb(245, 248, 252);
    /* border: 2px solid black; */
    height: 600px;
    width: 100%;
    margin-top: 8vw;
  }
  .foot_content {
    text-align: center;
    padding: 20px;
    font-size: 14px;
    font-family: "DM Sans", sans-serif;
    color: black;
  }
  .footerquestion {
    display: flex;
    flex-wrap: wrap;
  }
  .footerquestion div {
    display: flex;
    border: 1px solid gray;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    width: 40%;
    height: 100px;
    background-color: rgb(245, 248, 252);
    margin: 10px 50px;
  }
  .asked_question a {
    font-size: 18px;
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
    color: black;
    margin: 15px 20px;
    text-decoration: none;
  }
  .asked_question i {
    font-size: 18px;
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
    color: black;
    margin: 15px 20px;
  }
  .asked_question a:hover {
    color: #536942;
  }
  
       
      .information_part {
        border: 2px solid;
        height: auto;
        width: 100%;
        background: linear-gradient(90deg, #16bacf, #022a2f); 
      }
      
      .information_content h1 {
        color: white;
        padding: 100px;
        margin-left: 30vw;
      }
      
      .information_content p {
        color: white;
        margin-top: -85px;
        margin-left: 33vw;
      }
      
      .cardflex {
        display: flex;
        flex-direction: row;
        margin: 50px 100px;
        width: calc(350px*9);
      }
      
      .information_card {
        height: 300px;
        width: 300px;
        margin-left: 70px;
        display: flex;
        align-items: center;
        padding: 15px;
        background-color: white;
        width: 100%;
        /* border: 5px solid #ddd; */
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0);
      }
      
      .cardflex i {
        font-size: 30px; 
        height: 40px;
        width: 40px;
        border-radius: 50%;
        color: black;
        text-align: center;
        background-color: white;
        margin: 70px 10px;
      }
      
      .information_card a {
        text-decoration: none;
        font-size: 20px;
        position: relative;
        font-weight: 600;
        display: block;
        flex-direction: column;
        margin: 15px 40px;
      }
      
      .information_card a:hover {
        color: rgb(0, 0, 0);
      }
      
      .information_card p {
        font-size: 15px;
        margin: 10px 30px;
        text-align: justify;
        cursor: pointer;
      }
      .information_card p a{
        font-size: 15px;
        margin: 10px 30px;
        text-align: justify;
        cursor: pointer;
        color: blue;
  
      }
      
      .information_card:hover {
        transform: scale(1.05); 
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
      }
      
      .information_about {
        margin: 65px 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      
      .information_content2 {
        padding: 19px;
        margin: 4vw 4vw;
        color: white;
        line-height: 35px;
        display: flex;
      }
      
      .InneerTxt {
        text-align: center;  
        border: 2px solid black;
        width: 100%;
        height: 65%;
       margin-top: 55px;
        background-color: rgba(228, 238, 231, 1);
        color: white;
    }
    
    /* Main container for asked sections */
    .asked_section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; /* Center items horizontally */
    }
    
    /* Individual asked section items */
    .asked_section div {
        width:600px; 
        height: 60px;
        padding: 20px;
        margin: 20px 40px; /* Adjust margin for better spacing */
        background-color: #f7f7f7;
        border: 1px solid #ddd;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        color: black;
        text-align: center;
    }
    .asked_question a {
      padding: 106px;
      text-decoration: none
      color: black;
  
    }
    
    
    
    .InnerTxt p a {
      text-decoration: none;
      color: #ddd;
      font-family: "Open Sans", sans-serif; 
      font-weight: 200;
      font-style: normal;
      font-size: 16px;
  }
  
  .line {
      height: 220px;
      width: 0px;
      border: 0.6px solid red;
  }
  
  .InnerTxt h2 {
      font-family: "Titillium Web", sans-serif;
      font-weight: 200;
      font-style: normal;
  }
  
  .information_content3 {
      min-width: 200px; 
      margin: 70px 10px; 
      padding: 10px;
      color: white;
      line-height: 2.5;
  } 
  
  .icon_line {
      width: 200px;
      height: 0px;
      flex-direction: row;
      border: 5px solid rgb(200, 18, 18);
      color: white;
  }
  
  /* Responsive Styles */
  @media (max-width: 1200px) {
      .information_content h1 {
          margin-left: 10vw; 
          padding: 50px; 
      }
  
      .information_content p {
          margin-left: 10vw; 
          cursor: pointer;
      }
  
      .cardflex {
          margin: 20px; 
          flex-direction: column; 
          align-items: center;
      }
  
      .information_card {
          width: 90%; 
          margin-left: 0; 
          margin-bottom: 20px; 
          cursor: pointer;
      }
  }
  
  @media (max-width: 992px) {
      .information_content h1 {
          font-size: 28px;
      }
  
      .information_content p {
          font-size: 14px;
      }
  
      .cardflex {
          flex-direction: column; 
          align-items: center;
      }
  
      .information_card {
          width: 100%; 
          margin: 10px 0; 
          cursor: pointer;
      }
  
      .information_about {
          flex-direction: column; 
          align-items: start;
      }
  }
  
  
  @media (max-width: 768px) {
      .information_content3 {
          margin: 50px 5px; 
          padding: 5px; 
      }
  
      .InnerTxt h2 {
          font-size: 24px; 
      }
  
      .InnerTxt p a {
          font-size: 14px; 
  }
  
  @media (max-width: 480px) {
      .information_content3 {
          margin: 30px 5px; 
      }
    }
  
      .InnerTxt h2 {
          font-size: 20px; 
      }
  
      .InnerTxt p a {
          font-size: 12px; 
      }
  
      .hi {
          height: 150px; 
          width: 150px; 
  }
  
  .hi {
      background-color: red;
      height: 200px;
      width: 200px;
      transition: 3s;
  }
  
  .hi:hover {
      transform: rotate(45deg);
  }
  